<!DOCTYPE html>
<html 
	lang="es" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantilla/plantilla}"
>
<head>
    <title>Lista Calificacion</title>
</head>

<body>
<!-- Pre-loader start -->
<div layout:fragment="espaciocontenidohtml">
       <div class="pcoded-content">
           <!-- Page-header start -->
           <div class="page-header">
               <div class="page-block">
                   <div class="row align-items-center">
                       <div class="col-md-8">
                           <div class="page-header-title">
                               <h5 class="m-b-10">Calificacion</h5>
                           </div>
                       </div>
                       
                   </div>
               </div>
           </div>
           <!-- Page-header end -->
           <div class="pcoded-inner-content">
               <div class="main-body">
                   <div class="page-wrapper">
                       <div class="page-body">
                           <div class="row">
                               <div class="col-sm-12">
                                   <div class="card">
                                       <div class="card-header">
                                       <a title="Nuevo categoria" th:href="@{/nuevo_calificacion}" class="btn btn-success">
                                       	<i class="fa fa-plus"></i> Nuevo
                                       </a>
                                           
                                       </div>
                                       <div class="card-block">
                                           <div class="card-body">
                                        	<table id="example" class="table table-striped" style="width:100%">
										        <thead>
										            <tr>
										                <th>#</th>
										                <th>Puntaje</th>
										                <th></th>
										            </tr>
										        </thead>
										        <tbody>
										            
										                
										            <tr th:each="cali:${lista}">
										                <td th:text="${cali.id}"></td>
										                <td th:text="${cali.puntuacion}"></td>
										                
										                <td>
										                	<a th:href="@{/editar_calificacion/}+${cali.id}" class="btn btn-warning">
										                		<i class="fa fa-pencil"></i> Editar
										                	</a>
										                	<a th:href="@{/eliminar_calificacion/}+${cali.id}" class="btn btn-danger">
										                		<i class="ti-trash"></i> Eliminar
										                	</a>
										                </td>
										            </tr>
										            
										        </tbody>
				        
				    						</table>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
                
         
</div>


</body>

</html>
